.navbar{
    display: flex;
    justify-content: space-around;
}

.title img{
    cursor: pointer;
    color: crimson;
    height: 140px;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #fff;
}

.menu a:hover{
    cursor: pointer;
    color: green;
    transition: 0.5s ease;
}

.menu .active{
    border-bottom: 1px solid crimson;
}

.login{
    cursor: pointer;
}


.login button{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(11, 180, 11);
    color: #fff;
}

